*.swp
coverage
node_modules
browser/tests.js
docs/api

CONTRIBUTING.html
LICENSE.html
README.html
examples.html
npm-debug.log

apiref
bower_components
report
.DS_Store


bch-lib.js
bch-lib.min.js
bch-lib.js.sig
bch-lib.min.js.sig
tests.js

package-lock.json
